<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}
{% block body %}
<div style="border-style:solid;border-width: 3px; border-color: rgb(252, 249, 249);"><p>Cezar, Thomas, and Adam have spent many hours and days working on this project, to perfect the combination of amazing art, ideas, and persistance.
</p></div>
<br><br><div style="border-style:solid;border-width: 3px; border-color: rgb(247, 245, 245);"><p> Having this oppourtunity has been a blast. We can now code! We have all lived in Oakland out whole lives and grew up knowing eachother since childhood.
    We have all spent a lot of time together, inside and outside this class. Workoing hard and creating this app been a life long dream for us all, benefiting out graduation chance and allowing us to excel ahead of all other academies.
</p></div>
<br><br><br?<div class="d-flex justify-content-center"><img src="/static/meditate.gif" class="d-block" alt="..." width="350" height="300"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>






{% endblock %}  