<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}
{% block body %}
<div style="border-style:solid;border-width: 3px; border-color: rgb(14, 14, 14);"><p>Cezar, Thomas, and Adam have spent many hours and days working on this project, to perfect the combination of amazing art, ideas, and persistance.</p></div>
<div class="d-flex justify-content-center"><img src="/static/meditate.gif" class="d-block" alt="..." width="350" height="300"></div>
<br><br><br><br><br><br><br><br><br><br><br><br><br>






{% endblock %}  