{% extends "base.html" %}

{% block body %}
        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <h1 class="display-5">{{deer.name}}</h1>
        {{deer.description}} <br>
        <h1 class="display-5">New Deer</h1>

        <form method=adoption>
            {{ form.hidden_likes() }}
            
            {{ form.description.label }} <br>
            {{ form.description(cols=64) }}
            <!--List the errors for this field-->
            {% for error in form.description.errors %}
                <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
            <br>
         
    
            {{form.submit()}}
        </form>
        
{% endblock %}
