{% extends 'base.html' %}

{% block body %}

{% if deer %}
    {{moment(deer.create_date).calendar()}} by {{deer.parent.fname}} {{deer.parent.lname}} 
    {% if deer.modify_date %}
        modified {{moment(deer.modify_date).calendar()}}
    {% endif %}
    <br>
    {% if deer.parent == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Deer" href="/deer/delete/{{deer.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit Deer" href="/deer/edit/{{deer.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}

    <h1 class="display-5">{{deer.name}}</h1>
    <p class="fs-3 text-break">
        {% if deer.parent.image %}
            <img width="120" class="img-thumbnail float-start me-2" src="data:image;base64,{{base64encode(deer.parent.image.read())}}">
        {% endif %}
            {{deer.description}} <br>
            {{deer.likes}}  
           

    </p>
    <!-- <a href="/adoption/new/{{deer.id}}" class="btn btn-primary btn-sm" role="button">New Adoption</a> -->

    <!-- {% if adoptions %} -->
    <!-- <h1 class="display-5">adoptions</h1>
    {% for adoption in adoptions %}
        {% if current_user == adoption.parent %}
            <a href="/adoption/delete/{{adoption.id}}"><img width="20" src="/static/delete.png"></a> 
            <a href="/adoption/edit/{{adoption.id}}"><img width="20" src="/static/edit.png"></a>
        {% endif %}
        {{moment(adoption.create_date).calendar()}} {{adoption.parent.username}} 
        {% if adoption.modifydate %}
            modified {{moment(adoption.modifydate).calendar()}}
        {% endif %}
        <br>
        <p class="fs-3">
            {{adoption.description}}
        </p>
    {% endfor %}
    {% else %}
        <h1 class="display-5">No Adoptions</h1>
    {% endif %} -->
{% else %}

{% endif %}

{% endblock %}