
  
    {% extends 'base.html' %}


{% block body %}  

      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <h1 id="cursive" class="display-4 text-center ">Welcome!<br> to <br>Meditation Station </h1>
    <button onclick="myFunction()">Turn Cursive (Java)</button>
    <script>
      function myFunction(){
        title = document.getElementById("cursive")
        title.style.fontFamily = '"Lucida Handwriting", "Courier New", monospace';
      }
    </script>
    
    <p></p>
    <p></p>

    <div class="container text-left display-7 text-center border border-3 whtie" >
        <div class="row">
        <div class="col">
          <p> TO HELP THOSE WHO NEED TO RELAX <p> </p></p>
        </div>
    </div>
    </div>

    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">


     
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">

          
     
<p></p>
    <div id="carouselExample" class="carousel slide">
        <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="d-flex justify-content-center"> <img src="/static/monk.gif" class="d-block w-50" alt="..." width="400" height="500"></div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center"><img src="/static/meditating.gif" class="d-block w-50" alt="..."  width="200" height="500" ></div>
      </div>
      <div class="carousel-item">
        <div class="d-flex justify-content-center"><img src="/static/meditate.gif" class="d-block w-50" alt="..." width="400" height="500"></div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>




    
    


    

    {% endblock %}