<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}

<img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">
      <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

      <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">
    
    <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">


<h1 class="display-4 text-center ">Overview</h1>
<p></p>
<div class="row">
    <div class="col-5 mx-5 my-5 border border-5">
        <h1 class="display-5 text-center">Background</h1>
        <p> I am cezar and I like talking about Meditation.
            .</p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


    <div class="col-5 me-5 mb-5 border border-5">
        <p></p>
        <h1 class="display-6 text-center">Reasoning for meditation</h1>
        <p>
        </p>
            <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

            <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>


            <div class="container text-center border border-5 ">
                <h1 class="display-4 container text-center">Little 'bout Us</h1>
        <p>Our names are Nengi Frank and EurAsia Robinson. We are both seniors in the Computer Science Academy and play lacrosse. We choose to make this website because as student athletes and teenagers who have to wake up early for school we know the effects of going to school on little to none sleep. We both were also able to compare what it was like to have a later start time our freshman year and compare it to our  junior and senior year, where we had an earlier start time. Even though the time difference is around 20 minutes, it still affected the students at Tech heavily which influenced us to make this website. </p>
        <img src="/static/CloudsPNG.png" class="rounded float-end" width = "200" hieght= "200" alt="...">

        <img src="/static/CloudsPNG.png" class="rounded float-start" width = "200" hieght= "200" alt="...">    </div>

        
</div>

                


 



{% endblock %}